// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

section#partner {
  padding-bottom: 96px;

  .section__header {
    margin-bottom: 50px;
  }
}

.partner {
  display: flex;
  align-items: center;
  justify-content: center;

  &__slider {
    width: 100%;
  }

  &__picture {
  }
}
