section#work {
  @include breakpoint($breakpoint-laptop--medium) {
    padding-bottom: 208px;
  }

  @include breakpoint($breakpoint-tablet) {
    padding: 32px 0;
  }

  padding-bottom: 168px;

  background-image: url("../img/layout/page/index/work/background.svg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
