.digit {
  @media (hover: hover) {
    &:hover {
      .digit__number {
        color: $color-text__blue;
      }
    }
  }

  &__number {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__display--medium;
    }

    margin-bottom: 12px;

    font-weight: $weight-SemiBold;
    font-size: $font-size__display--large;
    font-family: Namu, sans-serif;

    transition: $transition ease;
  }

  &__text {
    font-size: $font-size__text--large;
  }
}
