section#usage {
  margin-top: 24px;
}

.usage {
  &__hidden {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;
    transition: $transition ease;

    &--show {
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }
  }

  &__wrapper {
    position: relative;

    &--table {
      .usage__hidden {
        height: 100%;
        background-color: $palette-white;
      }
    }
  }

  &__switch {
    @include breakpoint($breakpoint-tablet) {
      bottom: -60px;
    }

    position: absolute;
    z-index: 5;
    bottom: 20px;
    left: 50%;
    width: fit-content;

    transform: translateX(-50%);

    &--bottom {
      @include breakpoint($breakpoint-tablet) {
        bottom: -60px;
      }

      bottom: -30px;
    }
  }
}
