section#visualization {
  @include breakpoint($breakpoint-mobile--large) {
    margin-top: 0;
  }

  overflow: hidden;
  margin-top: 50px;
}

.visualization {
  &__slider {
    position: relative;
  }
}
