#editor {
  & > * {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  img {
    display: inline-block;
  }

  h2,
  h3 {
    line-height: $line-height--secondary;
  }

  h2 {
    font-size: $font-size__text--huge;
  }

  h3 {
    font-size: $font-size__text--large;
  }

  ul,
  ol {
    padding-left: 20px;
    list-style: initial;
  }

  a {
    color: $color-text__blue;
  }
}
