// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  width: 100%;

  background-color: $palette-white;
}

.header-fixed {
  position: fixed !important;
}

.header-inverted {
  background-color: transparent !important;

  .logo path {
    fill: $palette-white;
  }

  .nav__link {
    color: $color-text__white;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;

  &__logo {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 80px;
    }

    width: 290px;

    .logo {
      @include first-child {
        @include breakpoint($breakpoint-laptop--medium) {
          display: none;
        }
      }

      @include last-child {
        @include breakpoint($breakpoint-laptop--medium) {
          display: block;
        }

        display: none;
      }
    }
  }

  &__nav {
  }
}
