// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  width: 100%;

  background-color: $palette-white;
  transition: $transition ease;
}

.header-fixed {
  position: fixed !important;
}

.header-mobile,
.header-inverted {
  background-color: transparent !important;

  .logo path {
    fill: $palette-white;
  }

  .nav__link {
    color: $color-text__white;
  }

  .header__telegram path {
    fill: $palette-white;
  }

  .header__mobile {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $palette-white;
    }
  }
}

.header-mobile {
  background-color: $palette-black !important;
}

.header {
  @include breakpoint($breakpoint-tablet--large) {
    height: 56px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height;

  &__telegram {
    @include breakpoint($breakpoint-tablet--large) {
      display: block;
    }

    display: none;
  }

  &__logo {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 80px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 60px;
      margin: 0 auto;
    }

    width: 290px;

    .logo {
      @include first-child {
        @include breakpoint($breakpoint-laptop--medium) {
          display: none;
        }
      }

      @include last-child {
        @include breakpoint($breakpoint-laptop--medium) {
          display: block;
        }

        display: none;
      }
    }
  }

  &__nav {
    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__mobile {
    @include breakpoint($breakpoint-tablet--large) {
      display: block;
    }

    display: none;
  }
}
