// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

.page {
  &__title {
    font-size: $font-size__display--medium;
    line-height: $line-height--secondary;
  }

  &__text {
    font-size: $font-size__text--large;
  }
}