// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

.page {
  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__display--small;
    }

    font-size: $font-size__display--medium;
    line-height: $line-height--secondary;
  }

  &__text {
    font-size: $font-size__text--large;
  }
}
