.modal-job {
  .modal__overlay {
    @include breakpoint($breakpoint-tablet) {
      align-items: flex-start;
      overflow: auto;
    }
  }

  .modal__container {
    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
      height: auto;
      border-radius: 0;
    }

    display: flex;
    overflow: hidden;

    width: initial;
    height: 90vh;

    border-radius: $border-radius;
  }

  .modal__col {
    @include breakpoint($breakpoint-tablet) {
      width: 100% !important;

      .modal__header {
        position: static;
      }
    }

    width: 795px;
    padding: 24px;
    background-color: $palette-white;

    &--gray {
      width: 420px;
      background-color: $palette-gray;

      .modal__content {
        margin-top: 0;
        padding: 0;
      }

      .modal__description {
        margin-bottom: 30px;
      }
    }
  }

  .modal__header {
    position: relative;
  }

  .modal__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--large;
      line-height: $line-height--secondary;
    }

    font-size: $font-size__title--small;
  }

  .modal__close {
    @include breakpoint($breakpoint-tablet) {
      top: 16px;
      right: 16px;
    }

    top: 12px;
    right: 0;
  }

  .modal__content {
    @include breakpoint($breakpoint-tablet) {
      height: auto;
      padding-right: 0;
    }

    overflow: auto;
    height: 88%;

    margin-top: 24px;
    padding-right: 52px;
  }

  .modal__form {
    .form__button {
      width: 100%;
      margin-right: 0;
    }

    .form__privacy {
      text-align: left;
    }
  }
}
