main#project {
  .section__header {
    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 36px;
    }

    margin-bottom: 56px;
  }

  .section__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--big;
    }

    font-weight: 600;
    font-size: $font-size__display--small;

    &--small {
      @include breakpoint($breakpoint-laptop) {
        font-size: $font-size__title--small;
      }

      font-weight: 800;
      font-size: $font-size__title--big;

      line-height: $line-height--secondary;
    }
  }

  .section__text {
    font-size: $font-size__text--big;
  }
}

.project {
  &__picture {
    @media (hover: hover) {
      &:hover {
        .project__image {
          transform: scale(0.95);
        }
      }
    }
  }

  &__image {
    transition: $transition ease;
  }
}
