main#project {
  .section__header {
    margin-bottom: 56px;
  }

  .section__title {
    font-weight: 600;
    font-size: $font-size__display--small;
  }

  .section__text {
    font-size: $font-size__text--big;
  }
}

.project {
  &__picture {
    @media (hover: hover) {
      &:hover {
        .project__image {
          transform: scale(0.95);
        }
      }
    }
  }

  &__image {
    transition: $transition ease;
  }
}
