@import "project";
@import "common/main";
@import "history/main";

@import "review";
@import "textblock";
@import "identity";

main#project {
  .section__header {
    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 36px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 16px;
    }

    margin-bottom: 56px;
  }

  .section__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--big;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--huge + 4px !important;
    }

    font-weight: 600;
    font-size: $font-size__display--small;

    &--small {
      @include breakpoint($breakpoint-laptop) {
        font-size: $font-size__title--small;
      }

      font-weight: 800;
      font-size: $font-size__title--big;

      line-height: $line-height--secondary;
    }
  }

  .section__text {
    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--big;
  }
}
