// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.font-namu {
  font-family: Namu, sans-serif;

  &--1930 {
    font-weight: $weight-SemiBold;
  }

  &--1990 {
    font-weight: $weight-ExtraBold;
  }
}

.attach-footer {
  margin-bottom: -65px;
}

.body-overflow {
  overflow: hidden;
}

.sticky {
  @include breakpoint($breakpoint-tablet) {
    position: static;
  }

  position: sticky;
  top: 105px;
}