.link {
  transition: $transition ease;

  @media (hover: hover) {
    &:hover {
      color: $color-text__blue !important;
    }
  }

  &--bold {
    font-weight: $weight-Bold;
  }

  &--blue {
    color: $color-text__blue;
  }

  &--arrow {
    display: flex;
    align-items: center;

    @media (hover: hover) {
      &:hover {
        .link__arrow {
          transform: translateX(5px);
        }
      }
    }

    .link__arrow {
      margin-left: 5px;
      transition: $transition ease;
    }
  }
}
