main#single-news {
}

section#single-news {
}

.single-news {
  @include breakpoint($breakpoint-tablet) {
    align-items: flex-start;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  &__action {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 16px;
      margin-left: -12px;
    }

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 24px;
    padding: 8px;

    @media (hover: hover) {
      &:hover {
        .svg {
          transform: translateX(-3px);
        }
      }
    }
  }

  &__info {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 8px;
      font-size: $font-size__text--large;
    }

    display: block;
    color: $color-text__gray;

    font-size: $font-size__text--huge;
    text-align: center;
  }

  &__title {
    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__title--small;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--huge + 3px;
      text-align: left;
    }

    margin-bottom: 32px;
    text-align: center;
  }

  &__picture {
    @include breakpoint($breakpoint-tablet--large) {
      width: 100%;
    }

    @include breakpoint($breakpoint-mobile--large) {
      height: 180px;
    }

    width: 800px;
    height: 250px;

    margin: 0 auto 32px;
  }

  &__content {
    @include breakpoint($breakpoint-tablet) {
      width: 100%;
    }

    width: 500px;
    margin: 0 auto;

    & > * {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    h2,
    h3 {
      line-height: $line-height--secondary;
    }

    h2 {
      font-size: $font-size__text--huge;
    }

    h3 {
      font-size: $font-size__text--large;
    }

    ul,
    ol {
      padding-left: 20px;
      list-style: initial;
    }
  }
}
