// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-white--pale: #f9f9fa;
$palette-gray: #f3f4f6;
$palette-black: #1f212b;

// Цветовая палитра текста
$color-text__black: #1f212b;
$color-text__white: #ffffff;
$color-text__white--pale: #f3f4f6;
$color-text__gray: #888eaa;
$color-text__blue: #2478db;

// Цветовая палитра компонентов
$component-color__red: #cb4538;
$component-color__blue: #2478db;
$component-color__gray: #cfd2dd;