.swiper__hero {
  .swiper-pagination {
    @include breakpoint(max-height 670px) {
      bottom: 16px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      bottom: 64px;
      left: 12px;
    }

    position: absolute;
    bottom: 48px;
    left: 0;
  }

  .swiper-control {
    .swiper-button-prev,
    .swiper-button-next {
      top: 0;
      width: 60px;
      height: 100%;

      &::after {
        content: none;
      }
    }
  }
}
