.swiper {
  &--overflow {
    overflow: visible;

    .row {
      flex-wrap: nowrap;
    }
  }

  &-slide {
    overflow: hidden;
  }

  &-pagination {
    position: static;
    display: inline-block;
    width: initial !important;

    &-bullet {
      width: 12px;
      max-width: 40px;
      height: 12px;

      border-radius: 0;

      background-color: $palette-white;
      opacity: 0.7;

      transition: $transition ease;

      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }

      &:not(:last-child) {
        margin-right: 8px;
      }

      &-active {
        width: 40px;
        opacity: 1;
      }
    }
  }
}
