.swiper {
  &--overflow {
    overflow: visible;

    .row {
      flex-wrap: nowrap;
    }
  }

  &-wrapper {
    box-sizing: border-box;
  }

  &-slide {
    overflow: hidden;
  }

  &-button-prev,
  &-button-next {
    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        transform: scale(0.9);
      }
    }
  }

  &-button-prev {
    left: -80px;

    &::after {
      content: url("../img/icons/control/arrow-left.svg");
    }
  }

  &-button-next {
    right: -80px;

    &::after {
      content: url("../img/icons/control/arrow-right.svg");
    }
  }

  &-pagination {
    position: static;
    display: inline-block;
    width: initial !important;

    &--inner {
      position: absolute;
      bottom: 18px !important;
      left: 18px !important;
    }

    &-bullet {
      width: 12px;
      max-width: 40px;
      height: 12px;

      border-radius: 0;

      background-color: $palette-white;
      opacity: 0.7;

      transition: $transition ease;

      @media (hover: hover) {
        &:hover {
          opacity: 1;
        }
      }

      &:not(:last-child) {
        margin-right: 8px;
      }

      &-active {
        width: 40px;
        opacity: 1;
      }
    }
  }
}
