.section {
  &:not(:first-child) {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-top: 56px;
    }

    padding-top: 72px;
  }

  &:first-child {
    padding-top: 32px;
  }

  &__header {
    margin-bottom: 72px;
  }

  &__title {
    margin-bottom: 15px;

    font-weight: $weight-ExtraBold;
    font-size: $font-size__title--big;
    font-family: Namu, sans-serif;
  }

  &__text {
    font-size: $font-size__text--regular;
  }
}
