.section {
  &:not(:first-child) {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-top: 56px;
    }

    padding-top: 72px;
  }

  &:first-child {
    padding-top: 32px;
  }

  &__header {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 40px;

      br {
        display: none;
      }
    }

    margin-bottom: 72px;

    &--action {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .section__title {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--medium;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--huge;
      line-height: $line-height--secondary;
    }

    margin-bottom: 15px;

    font-weight: $weight-ExtraBold;
    font-size: $font-size__title--big;
    font-family: Namu, sans-serif;
  }

  &__text {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--big;
  }
}
