.button {
  padding: 16px 32px;

  border: none;
  border-radius: $border-radius;
  outline: none;

  background-color: transparent;
  color: $color-text__white;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
