.jobs {
  @include breakpoint($breakpoint-tablet--large) {
    padding-bottom: 32px;
  }

  padding-bottom: 112px;

  &__empty {
    text-align: center;

    span {
      @include breakpoint($breakpoint-tablet) {
        font-size: $font-size__text--regular;
      }

      color: $color-text__gray;
      font-size: $font-size__text--large;
    }
  }
}
