.projects-item {
  position: relative;

  &__background {
    overflow: hidden;
    height: 100vh;
    max-height: 810px;
  }

  &__content {
    @include breakpoint($breakpoint-tablet) {
      width: 100%;
      padding: 0 12px;

      transform: translate(-50%, -50%);
    }

    position: absolute;
    top: 50%;
    left: 50%;

    color: $color-text__white;
    text-align: center;

    transform: translate(-50%, -40%);
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__title--small;
    }

    margin-bottom: 24px;

    font-size: $font-size__display--medium;
    line-height: $line-height--secondary;
  }

  &__geo {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--regular;
      text-align: left;
    }

    display: flex;
    align-items: center;
    justify-content: center;

    color: $color-text__white--pale;
    font-size: $font-size__text--huge;
  }

  &__icon {
    margin-right: 8px;
  }

  &__description {
    @include breakpoint($breakpoint-tablet) {
      width: 100%;
      margin-bottom: 32px;
    }

    width: 726px;
    margin-bottom: 56px;
    font-weight: $weight-Bold;
  }

  &__action .button {
    @include breakpoint($breakpoint-tablet) {
      display: block;
      width: 100%;
      max-width: 360px;
      margin: 0 auto;
    }
  }
}
