section#about {
  padding-top: 72px;
  padding-bottom: 78px;
}

.about {
  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--big;
    }

    font-weight: $weight-SemiBold;
    font-size: $font-size__display--small;

    line-height: $line-height--secondary;
  }

  &__text {
    &--big {
      @include breakpoint($breakpoint-laptop) {
        font-size: $font-size__text--huge;
      }

      font-size: $font-size__text--huge + 4px;
    }
  }
}
